ion-header {
    --background: #90CAF9;
  }
  
  ion-toolbar {
    --background: #90CAF9;
    height: 80px;
  }
  .button-container {
    position: fixed;
    bottom: 20px;
    left: 50%; 
    transform: translateX(-50%); 
    width: 80%; 
  }
  
  .custom-button {
    color: white;
    --background: #90caf9;
    --background-hover: #2563eb; 
    --border-radius: 10px; 
    --padding: 1rem; 
    font-size: 1.2rem; 
    text-align: center;
  }

  span{
    // margin-left: 0px;
    // margin-top: 20px;
    color: white;
  }
  .full-height {
    height: 100%;
  }
  
  ion-row {
    height: 100%; /* Assure que la ligne occupe toute la hauteur */
  }
  
  h2 {
    margin-bottom: 80px; /* Ajoute un espace entre le texte et le bouton */
  }
  
  