<ion-header>
  <ion-toolbar>
      <span><strong><h1>404</h1></strong></span>
    
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" style="text-align: center;">
  <ion-grid class="full-height">
    <ion-row class="ion-align-items-center ion-justify-content-center full-height">
      <ion-col size="12">
        <div class="title">
          <h2>Cette page n'existe pas ou n'est pas disponible.</h2>
        </div>
        </ion-col>
    </ion-row>
  </ion-grid>
  <div class="button-container">
  <ion-button  class="custom-button" expand="block" (click)="goHome()">
    Retourner à l'accueil
  </ion-button>
</div>
</ion-content>
