<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon src="../../assets/icon/arrow-back-outline.svg" name="back" size="large"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="image-section">
    <img src="./assets/images/bateau_1.jpg" alt="bateau">
  </div>
  <div class="boat-name">
    <h2><strong>{{bateaux.name}}</strong></h2>
  </div>
  <div class="owner-name">
    <h3>Thibault Magasin</h3>
  </div>

  <div class="description-section">
    <p class="description">
      {{bateaux.presentation}}
    </p>
  </div>
</ion-content>