<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click) ="onGoToRecettes()">
      <ion-icon src="assets/icon/arrow-back.svg" class ="custom-icon" name="arrow-back" size="large"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="image-section">
    <img [src]="recette.image" alt="bateau">
  </div>
  <div class="boat-name">
    <h2><strong>{{recette.name}}</strong></h2>
  </div>
  <div class="owner-name">
    <h2>Thibault Magasin</h2>
  </div>
  <div class="description-section">
    <p class="description">
      {{recette.hint}}
    </p>
    <p class="description">
      {{recette.preparation}}
    </p>
  </div>
</ion-content>