<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="Bateau">
        <ion-icon src="../../assets/icon/boat.svg" name="boat"></ion-icon>
      <ion-label>Bateau</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Restaurants">
      <ion-icon src="../../assets/icon/restaurant.svg" name="restaurant"></ion-icon>
      <ion-label>Restaurants</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon src="../../assets/icon/home.svg" name="home"></ion-icon>
      <ion-label>Acceuil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="recette">
        <ion-icon src="../../assets/icon/poulet.svg" name="poulet"></ion-icon>
      <ion-label>Recette</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Produit">
      <ion-icon src="../../assets/icon/fish.svg" name="fish"></ion-icon>
      <ion-label>Produit</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>