
ion-tab-bar {
  background-color: #fff ;/* Vous pouvez personnaliser la couleur de fond */
  height:80px;
}

ion-tab-button {
  --color-selected: #90CAF9;
  --color: #979797;
}

ion-icon {
  font-size: 30px;
}

ion-label {
  font-size: 12px;
  font-weight: bold;
}
