
ion-tab-bar {
  background-color: #fff /* Vous pouvez personnaliser la couleur de fond */
}

ion-tab-button {
  --color-selected: #90CAF9;
  --color: #979797;
}

ion-icon {
  font-size: 20px;
}

ion-label {
  font-size: 12px;
  font-weight: bold;
}
