ion-header {
  background-color: #90CAF9; /* Bleu clair */
}

ion-toolbar {
  --background: #90CAF9;
  color: white;
}
ion-searchbar{
  --background: white;
  width: 400px;
  border-radius: 30px;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 2px;
  color: gray;

}
ion-content{
  --background: white;
}
ion-item{
  
  --background: #f8f8f8;
  margin-left: -25px;
  margin-right: -25px;
  margin-top: -25px;
  margin-bottom: -25px;
}
ion-row{
  --background: white;

}
ion-card-header{
  --background: white;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
height: 150px;
position: relative;
}
ion-icon.add-circle {
  margin-top: -5px; 
  font-size: 30px;
  color: black;
  position: absolute;
bottom: 40px;
}
ion-card-title {
  color: black;
  font-size: 16px;
  margin-top: -35px;
  margin-bottom: 40px;
line-height: 1.2; 
max-height: 72px;
overflow: hidden; 
text-overflow: ellipsis;
}
ion-col {
  --background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
ion-card {
  --background: white;
  width: 180px;
  height: 300px;
  display: flex; 
  flex-direction: column; 
  justify-content: space-between; 
  align-items: center;
  margin-bottom: 20px;

}
ion-grid{
  --background: white;
}
ion-list{
  --background: white;
}

.custom-image {
  height: 130px;
  width: 100%;
  object-fit: cover; 
  border-radius: 10px;
}

h1{
  margin-left: 20px;
}
.button-prix-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 60px;
}

.btnacheter {

  background-color: #90CAF9;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
}

.prix {
  font-size: 16px;
  color: black;
  font-weight: bold;
}
.promotion {
  display: flex;
  justify-content: center;
  position: relative; /* Permet à l'enfant d'utiliser un positionnement absolu */
}

.promotion-image {
  width: 90%;
  margin-top: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
  filter: brightness(60%);
}
.popular{
  margin-left: 40px;
  color: black;
}
.new_promotion{
  position: absolute;
  color: white; 
  font-size: 28px;
  top: 30%; 
  left: 40%;
  transform: translate(-50%, -50%);
  text-align: start;
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis;
}
.voir{
  position: absolute;
  background: transparent;
  width: 200px;
  border-radius: 20px ;
  height: 45px;
  color: white; 
  font-size: 28px;
  top: 60%; 
  left: 35%;
  transform: translate(-50%, -50%);
  text-align: center;
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis;
  border: 2px solid white;

}
.cart {
  width: 24px;
  height: 24px;
  color: white;
  margin-top: 20px;
}
.spaced-button {
  padding-right: 10px;
}
