<ion-header [translucent]="true">
  <ion-toolbar slot = "start">
    <h1>produits</h1>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar  debounce="500" show-clear-button="focus" placeholder="Rechercher..."></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-grid>
    <ion-row class ="ion-justify-content-between">
      @for(produit of produitsList;track produit.name){
      <ion-col size ="6">
      <ion-item>
        <ion-card>
          <img alt ="image" class = "custom-image" [src]="produit.image"/>
          <ion-card-header>
            <ion-card-title>{{produit.name}}</ion-card-title>
          </ion-card-header>
            <ion-item lines ="none">
                <button (click) = "onLoadProduit(produit)" class="btnacheter">Acheter</button>
                {{produit.prix}}€
            </ion-item>
          
        </ion-card>   
      </ion-item>
      </ion-col>
      }
    </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
