<ion-header [translucent]="true">
  <ion-toolbar>
    <h1>Produits</h1>
    <ion-buttons slot="end" class="heart">
      <ion-button class="spaced-button" (click)="goToCart()">
        <ion-icon class="cart" src="../../assets/icon/cart.svg" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar  [(ngModel)]="searchText" 
    (ionInput)="filterItems()" debounce="500" show-clear-button="focus" placeholder="Rechercher..."></ion-searchbar>
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true">
  <div class="promotion">
  <img src="./assets/images/promotion.jpg" alt="promotion" class="promotion-image">
  <h3 class="new_promotion">nouveaux promotions</h3>
  <button class="voir">voir plus</button>
  </div>
  <h2 class="popular"><strong>Produits Populaires</strong></h2>
  <ion-list>
    <ion-grid>
    <ion-row class ="ion-justify-content-between">
      @for(produit of filteredItems;track produit.name){
      <ion-col size ="6">
      <ion-item>
        <ion-card>
          <img alt ="image" class = "custom-image" [src]="produit.image"/>
          <ion-card-header>
            <ion-card-title><h3>{{produit.name}}</h3></ion-card-title>
          </ion-card-header>
          <div class="button-prix-container">
            <button (click)="onLoadProduit(produit)" class="btnacheter">Acheter</button>
            <span class="prix">{{produit.prix}}€</span>
          </div>
        </ion-card>   
      </ion-item>
      </ion-col>
      }
    </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
