<ion-header [translucent]="true">
  <ion-toolbar>
    <h1>Produits</h1>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar  [(ngModel)]="searchText" 
    (ionInput)="filterItems()" debounce="500" show-clear-button="focus" placeholder="Rechercher..."></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-grid>
    <ion-row class ="ion-justify-content-between">
      @for(produit of filteredItems;track produit.name){
      <ion-col size ="6">
      <ion-item>
        <ion-card>
          <img alt ="image" class = "custom-image" [src]="produit.image"/>
          <ion-card-header>
            <ion-card-title><h3>{{produit.name}}</h3></ion-card-title>
          </ion-card-header >
            <ion-item lines ="none" class="headerachat">
                <button (click) = "onLoadProduit(produit)" class="btnacheter">Acheter</button>
                {{produit.prix}}€
            </ion-item>
          
        </ion-card>   
      </ion-item>
      </ion-col>
      }
    </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
