<ion-header [translucent]="true">
  <ion-toolbar>
    <h1 >Restaurants</h1>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar  debounce="500" show-clear-button="focus" placeholder="Rechercher..."></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-grid>
    <ion-row class ="ion-justify-content-between">
      @for(restaurant of restaurantsList;track restaurant.name){
      <ion-col size ="6">
      <ion-item>
        <ion-card (click) = "onLoadRestaurant(restaurant)" button>
          <img alt ="image" class = "custom-image" [src]="restaurant.image"/>
          <ion-card-header>
            <ion-card-title><h2>{{restaurant.name}}</h2></ion-card-title>
            <ion-icon name="add-circle" src = "assets/icon/add-circle.svg" class ="add-circle"></ion-icon>
          </ion-card-header>
        </ion-card>   
      </ion-item>
      </ion-col>
      }
    </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
