<ion-header [translucent]="true">
  <ion-toolbar>
    <h1 >Restaurants</h1>
    <ion-buttons slot="end" class="heart">
      <ion-button class="spaced-button" (click)="goToCart()">
        <ion-icon class="cart" src="../../assets/icon/cart.svg" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar  [(ngModel)]="searchText" 
    (ionInput)="filterItems()" debounce="500" show-clear-button="focus" placeholder="Rechercher..."></ion-searchbar>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-grid>
    <ion-row class ="ion-justify-content-between">
      @for(restaurant of filteredItems;track restaurant.name){
      <ion-col size ="6">
      <ion-item>
        <ion-card (click) = "onLoadRestaurant(restaurant)" button  class="button">
          <img alt ="image" class = "custom-image" [src]="restaurant.image"/>
          <ion-card-header>
            <ion-card-title><h2>{{restaurant.name}}</h2></ion-card-title>
            <ion-icon name="add-circle" src = "assets/icon/add-circle.svg" class ="add-circle"></ion-icon>
          </ion-card-header>
        </ion-card>   
      </ion-item>
      </ion-col>
      }
    </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
