ion-header {
    background-color: #90CAF9; /* Bleu clair */
  }
  
  ion-toolbar {
    --background: #90CAF9;
    height: 150px;
    
  }
  h1{
    margin-left: 20px;
    margin-top: 80px;
    color: white;
  }
  .custom-icon {
    color: white;
    margin-top: 0px;
  }