
<ion-content fullscreen class="background-image">
  <div>
    <ion-buttons slot="end" class="contact-button">
      <ion-button class="contact-text">
        <ion-icon src="../../assets/icon/call.svg" name="call" class="custom-icon"></ion-icon> Contact </ion-button>
    </ion-buttons>
      <div>
        <span class="text-overlay">
          <h1>Bateau de Thibault</h1>
        </span>
      </div>

      <div>
        <span class="text-overlay2">
          <h1>Le seul intermédiaire entre la mer et vous, c'est nous!</h1>
        </span>
      </div>
    <app-tab-bar></app-tab-bar>
  </div>
</ion-content>