<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <h1 class="custom-title">Panier</h1>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" class="heart">
      <ion-button class="spaced-button">
        <ion-icon class="cart" src="../../assets/icon/heart.svg" name="heart"></ion-icon>
      </ion-button>
      <ion-button class="spaced-button">
        <ion-icon class="cart" src="../../assets/icon/cart.svg" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="date">
    {{ currentDate | date: 'd MMMM y'}}
  </div>
  <div *ngFor="let product of products " class="product-card">
    <ion-card>
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img [src]="product.image" alt="Image du produit" class="image-size" />
        </ion-thumbnail>
        <ion-label>
          <h2>{{ product.name }}</h2>
          <p>{{ product.quantite }} unité</p>
          <p>Prix unitaire : {{ product.prix}} €</p>
          <p>Total : {{ product.quantite * product.prix}} €</p>
        </ion-label>
        <div class="card-buttons">
          <ion-button class="button-edit" size="small" expand="block" (click)="onGoToproduitDetail()">Modifier</ion-button>
          <ion-button color="danger" size="small" expand="block">Supprimer</ion-button>
        </div>
      </ion-item>
    </ion-card>
  </div>

  <div class="button-container">
    <ion-button expand="block" class="custom-button">
      Valider le panier
    </ion-button>
  </div>
</ion-content>