<ion-header>
  
  <ion-toolbar>
    <ion-buttons slot="start" (click)="onGoToProduits()">
      <ion-icon src="assets/icon/arrow-back.svg" class="custom-icon" name="arrow-back" size="large"></ion-icon>
      <span class="costum-title"><h1>Panier</h1></span>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="date">
    {{ currentDate | date: 'd MMMM y'}}
  </div>
  <div *ngFor="let product of products " class="product-card">
    <ion-card>
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img [src]="product.image" alt="Image du produit" class="image-size" />
        </ion-thumbnail>
        <ion-label>
          <h2>{{ product.name }}</h2>
          <p>{{ product.quantite }} unité</p>
          <p>Prix unitaire : {{ product.prix}} €</p>
          <p>Total : {{ product.quantite * product.prix}} €</p>
        </ion-label>
        <div class="card-buttons">
          <ion-button class="button-edit" size="small" expand="block" (click)="onGoToproduitDetail(product)">
            Modifier
          </ion-button>
          <ion-button color="danger" size="small" expand="block" (click)="onDeleteProduitFromCart(product.id)">
            Supprimer
          </ion-button>
        </div>
      </ion-item>
    </ion-card>
  </div>

  <div class="button-container">
    <ion-row>
      <!-- Premier bouton pour Valider le panier -->
      <ion-col size="6" >
        <ion-button (click)="onGoToFormulaire()" expand="block" class="custom-button">
          Valider le panier
        </ion-button>
      </ion-col>

      <!-- Deuxième bouton pour Choisir un point d'intérêt -->
      <ion-col size="6">
        <ion-button expand="block" class="custom-button">Choisir un point relais
        
        <ion-select  (ionChange)="onPointRelaisChange($event)" >
          <ion-select-option *ngFor="let point of pointsRelais" [value]="point.nom">
            {{ point.nom }}
          </ion-select-option>
        </ion-select>
      </ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>